/* The sidebar menu */
/* .sidenav {
      height: 100%; Full-height: remove this if you want "auto" height 
      width: 180px; Set the width of the sidebar
    position: fixed; Fixed Sidebar (stay in place on scroll) 
     z-index: 1; Stay on top 
    top: 100px; Stay at the top 
     left: 1px; 
     background-color: #2d5277; 
     border-radius: 50; 
 	font-family: "Gadugi"; 
     overflow-x: hidden; Disable horizontal scroll 
     padding-top: 40px; 
} */

.sidenav {
	background-color: #2d5277;
	margin: 20px 0px;
	color: #fff;
	padding-bottom: 2000px;
	border: 1px solid black;
	border-radius: 5px;
}


/* The navigation menu links */
.sidenav a {
    padding: 3px 0px 3px 6px; 
    text-decoration: none;
    font-size: 16px;
    color: #cce6ff;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
/* .main { */
/*     margin-left: 60px; Same as the width of the sidebar */
/*     padding: 0px 10px; */
/* } */

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
/* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} */

