body {
	font-family: "Gadugi";
	font-size: 16px;
	/* background-color: #e6f9ff; */
}

.close .a {
	
  font-size: 40px (!important);
  margin: auto (!important);
  color: solid orange (!important);
  cursor: pointer;
  opacity: 1 (!important);
}

.textBleuClair {
	color: #2d5277;
}

.nomSite {
	color: #2d5277;
	text-align: left;
	font-size: 30px;
	font-family: Jazz LET, fantasy;
}

.tableaccueil {
	text-align: center;
	border-spacing: 30px;
	border-collapse: separate;
}

.tableinscription {
	align: center;
	border-spacing: 20px;
	border-collapse: separate;
}

.tableformulaire {
	align: right;
	border-spacing: 20px;
	border-collapse: separate;
	width: 70%;
}

.tableoutil {
	border-spacing: 20px;
	border-collapse: separate;
	width: 30%;
}

.tableoutil1 {
	border-spacing: 20px;
	border-collapse: separate;
	width: 50%;
}

.outil {
	width: 50%;
}

th {
	text-align: center;
}

td {
	text-align: center;
}

.titre {
	font-size: 50px;
	color: black;
}

.error, .errors {
	color: red;
	font-size: 18px;
}

.info {
	color: darkgreen;
	text-align: center;
	font-size: 18px;
}

.required {
	color: red;
}

.glyphicon* {
	font-size: 24px
}

.item:hover {
	-ms-transform: scale(1.5); /* IE 9 */
	-webkit-transform: scale(1.5); /* Safari 3-8 */
	transform: scale(1.5);
}

hr {
	margin: 20px auto;
	width: 100%;
	height: 2px;
	background-color: #0070ff;
	border: none; /*on supprime le style par defaut*/
}

input {
	text-align: center;
}

/* Test comment */
input.hide-spinner::-webkit-inner-spin-button, input.hide-spinner::-webkit-outer-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}

.page-footer {
	background: #2d5277;
	margin: 100px 0 10px 0;
	padding: 10px;
	color: #fff;
	font-family: "Gadugi";
}

.page-footer .footer-list {
	padding-left: 0;
	list-style-type: none;
	text-align: center;
	padding: 10px;
}

.page-footer .footer-list li {
	padding: 5px;
	cursor: pointer;
}

.page-footer .footer-list li a {
	text-decoration: none;
	color: #fff;
}

.page-footer .footer-list li a:hover, .footer-list li a:active,
	.footer-list li a:visited {
	text-decoration: none;
	color: #fff;
	font-weight: 900;
}

.page-footer .copyright {
	margin-top: 10px;
	text-align: center;
	font-weight: 800;
}

.sidenav.admin-sidenav {
	background: #2d5277;
	margin: 20px 0;
	padding: 10px;
	color: #fff;
}

.sidenav.admin-sidenav ul {
	list-style-type: none;
	padding-left: 0;
}

.sidenav.admin-sidenav ul li {
	padding: 5px;
}

.sidenav.admin-sidenav ul li a {
	color: #fff;
	text-decoration: none;
}

.sidenav.admin-sidenav ul li a:hover, .sidenav.admin-sidenav ul li a:active
	{
	font-weight: 800;
}

.mce-notification {
	display: none !important;
}
/*Datepicker css improvements*/

.datepicker-switch{
	text-align: center
}
.datepicker-years th.prev, .datepicker-years th.next {
	cursor: pointer;
}

.datepicker-years .year, .datepicker-months .month {
	margin: 5px !important;
	padding: 5px !important;
	cursor: pointer;
}

.datepicker-years .year:hover, .datepicker-years .year:active, .datepicker-months .month:hover, .datepicker-months .month:active {
	background: rgba(0, 0, 0, 0.2) !important;
}

.supprime{
	margin: 0 auto;
	margin-top: 45vh;
	text-align: center;
}

.nomlogin{
	font-weight: bold;
	
}

#messageErreurDate{
font-weight: bold;	
color : Crimson;
	
}


::placeholder {
    color: Silver;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: Silver;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: Silver;
}

.listeACocher{
	margin-left: 50px;
}
/* Background overlay for popup */
.modal-backdrop.in{
	opacity: 0.2 !important;
}

.modal-content{

    background-color: #e6e6e6;
}
#play_button {
    position:fixed;
    float:inherit;   
    top: 50%;
    left: 60%;
}
input:required {
  box-shadow: 4px 4px 20px rgba(200, 0, 0, 0.85);
}
.wrapperCenter{
	text-align: center
}
  .panel-heading:hover {
    cursor: pointer;
  }
  [data-toggle=collapse].collapsed .if-collapsed,
  [data-toggle=collapse]:not(.collapsed) .if-not-collapsed {
    display: none;
  }
/* ***CHECKBOX STYLE********* */
/* The container */
.containerCheckbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.containerCheckbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmarkCheckbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #cccccc;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.containerCheckbox:hover input ~ .checkmarkCheckbox {
  background-color: #a6a6a6;
}

/* When the radio button is checked, add a blue background */
.containerCheckbox input:checked ~ .checkmarkCheckbox {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmarkCheckbox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.containerCheckbox input:checked ~ .checkmarkCheckbox:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.containerCheckbox .checkmarkCheckbox:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} 

.id {
    width: 20px;
    text-align: left;    
}  
.commentaire {
    width: 100px;
    text-align: left;    
}  
  
}
